* {
  margin: 0;
  padding: 0;
}

.texti {
  position: relative;
  color: white;
  text-align: center;
  transition: 0.5s;
}
.btni {
  position: relative;
  background-color: rgb(238, 247, 115, 0.7);
  border-radius: 30px;
  border: none;
  outline: none;
}
.containeri {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./graphics/bg.jpg");
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.form-containeri {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  height: 100%;
  transition: 0.5s;
  border-radius: 50px;
}
.formi {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
span {
  margin-right: 10px;
  margin-top: 10px;
}
input {
  border: none;
  font-size: 20px;
  border-bottom: 1px solid grey;
  outline: none;
}

@media only screen and (min-width: 20000px) {
  .master-containeri {
    display: flex;
    flex-direction: row-reverse;
  }
  .form-containeri {
    position: relative;
    top: 50%;
    right: 0;
    bottom: 0;
    width: 50%;
    margin-top: 300px;
  }
  .containeri {
    right: 50%;
  }
  #desk-btn {
    display: none;
  }
}

/* ///////////////dashboard/////////// */

.dashboard-container {
  /* background-color: rgba(0, 0, 0, 0.1); */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 600px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./graphics/bg.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.dashboard-form-container {
  z-index: 99;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  height: 100%;
  transition: 0.5s;
  border-radius: 50px;
  max-width: 600px;
}

.list {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
}

.preview {
  position: absolute;
  top: 20000px;
}

.icon {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}
